body {
  background: #eee;
}

.main {
  background: #fff;
  margin: 75px auto;
  font: 18px var(--font-inter);
  color: #212121;
  min-height: calc(100vh - 150px);
  max-width: 1050px;
  box-shadow: 0 0 25px #e0e0e0;
  @media screen and (max-width: 1200px) {
    margin: 0;
    max-width: none;
    min-height: 100vh;
  }
}

.display {
  display: flex;
  gap: 75px;
  padding: 75px;
  @media screen and (max-width: 992px) {
    gap: 50px;
    padding: 50px;
    flex-direction: column-reverse;
  }
  @media screen and (max-width: 480px) {
    gap: 25px;
    padding: 25px;
  }
}

.controls__grid {
  padding: 1em 0;
  display: grid;
  grid-template-columns: auto auto;
  gap: 1em;
  @media screen and (max-width: 992px) {
    padding: 0;
  }
  @media screen and (max-width: 480px) {
    grid-template-columns: 1fr;
    gap: 0.5em;
  }
}

.controls__input-group {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.controls__label {
  padding-top: 3px;
  @media screen and (max-width: 480px) {
    padding-top: 0.5em;
  }
}

.output {
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.swatch {
  width: 100%;
  height: 100px;
  font: 1.75em var(--font-roboto);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0); /* Legacy property for Internet Explorer */
  clip-path: inset(50%);
  white-space: nowrap;
}
