.container {
  height: 100%;
  min-height: 100vh;
  min-height: -moz-available;
  /* WebKit-based browsers will ignore this. */
  min-height: -webkit-fill-available;
  /* Mozilla-based browsers will ignore this. */
  min-height: stretch;
  background: #e0e0e0;
}

.margin {
  align-items: center;
  flex-direction: column;
  display: flex;
  padding: 75px;
  min-height: 100vh;
}

.inner {
  background: #fff;
  min-height: calc(100vh - 150px);
  width: 100%;
  max-width: 1033px;
  padding: 75px;
  display: flex;
  gap: 75px;
}

.picker {
  flex: 0 0 auto;
}

.pickerGrid {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1rem;
  width: fit-content;
  margin: auto;
}

.label {
  justify-self: end;
  align-self: center;
}

.swatches {
  flex: 1 1 auto;
  display: grid;
  grid-template-columns: auto;
  grid-gap: 1rem;
  align-content: start;
}

@media only screen and (max-width: 1199px) {
  .margin {
    padding: 0px;
  }
  .container {
    background: #fff;
  }
}

@media only screen and (max-width: 767px) {
  .inner {
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
  }
}
