.container {
  height: 100vh;
  height: -moz-available;
  /* WebKit-based browsers will ignore this. */
  height: -webkit-fill-available;
  /* Mozilla-based browsers will ignore this. */
  height: stretch;
  background: #e0e0e0;
  overflow-y: auto;
}

.margin {
  align-items: center;
  flex-direction: column;
  display: flex;
  padding: 100px;
  min-height: 100vh;
}

.inner {
  background: #fff;
  min-height: calc(100vh - 200px);
  width: 100%;
  max-width: 960px;
  padding: 75px;
  display: flex;
}

.picker {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  flex: 0 0 auto;
  width: auto;
}

.swatches {
  flex: 1 1 auto;
}
