.swatch {
  display: flex;
  height: 100px;
  width: 100%;
  align-items: center;
  justify-content: center;
  font-size:4vh;
  font-family:Arial;
}
.white {
  color: #fff;
}
.black {
  color: #000;
}
